
<div class="container-fluid mt-5 bg-dark">
  <footer class="text-center text-lg-start text-white">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <!-- logo  -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <a href="/"><img src="/images/logo.png" class="img-fluid"></a>
          </div>
          <!-- about  -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center mt-4">
            <a href="/about" class="text-white"><p>About</p></a>
          </div>
          <!-- projects  -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center mt-4">
            <a href="/projects" class="text-white"><p>Projects</p></a>
          </div>
          <!-- services  -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center mt-4">
            <a href="/services" class="text-white"><p>Services</p></a>
          </div>
          <!-- contact  -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center mt-4">
            <a href="/contact" class="text-white"><p>Contact</p></a>
          </div>
        </div>
      </section>


      <hr class="mb-4" />
      <section class="pb-4 text-center">
        <p>© Copyright: Pushapjit Singh</p>
      </section>
    </div>
  </footer>
</div>
</body>
</html>