<% include partials/header.ejs %>


<div class="container mt-5">
    <div class="row">
        <!-- my info  -->
        <div class="col-md-8 mb-5" style="text-align: justify;padding-top: 60px;vertical-align: middle;">
            <h1>About Me</h1>
            <p style="margin-bottom: 40px;">Hello I'm Pushapjit Singh, I had completed my Btech in Computer Science and Engineering in June 2020 and after that i was serving
                as a "Web and Graphic Designer" in an IT company in Mohali.I learned a lot of designing skills like Adobe Photoshop, illustrator,
                Adobe Xd, Adobe After Effects, Corel Draw. I also learned designing websites in frameworks like Laravell and CodeIgniter.To improve
                my designing skills in gaming i had chosen "Game Programming" as my course at Centennial College.In my job experience I had worked on
                a lot of projects at national and international level and one of them was making a forex website for a company in Singapore.
            </p>
            <a href="/projects" class="project_button">My Projects</a>
        </div>
        <!-- Pushapjit Photo  -->
        <div class="col-md-4">
            <img src="/images/pushapjit.jpg" class="img-fluid">
        </div>
    </div>
</div>


<% include partials/footer.ejs %>