<% include partials/header.ejs %>
<!-- Info image  -->
<div class="container-fluid background_home"></div>
<!-- know more button  -->
<div class="container">
  <div class="row">
    <div class="col-md-9" style="text-align:right;margin-top: -15px;">
      <a class="know_more" href="/about">Know More</a>
    </div>
  </div>
</div>

  
  <% include partials/footer.ejs %>