<% include partials/header.ejs %>
<!-- Projects  -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <a href="https://piersica.com/" target="_blank"><img src="/images/piersica.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">Piersica.com</h5>
            <p class="text-center text-black pb-4">Role: Website Design in Wordpress</p>
        </a>
        </div>
        <div class="col-md-4">
            <a href="http://trade4x.net/" target="_blank"><img src="/images/trade4x.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">Trade4x.net</h5>
            <p class="text-center text-black pb-4">Role: Website Design in Laravel</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://canadacanoes.com/" target="_blank"><img src="/images/canadacanoes.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">CanadaCanoes.com</h5>
            <p class="text-center text-black pb-4">Role: Website Design in Wordpress</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://northpolewebservice.com/" target="_blank"><img src="/images/northpole.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">NorthpoleWebService.com</h5>
            <p class="text-center text-black pb-4">Role: Website Design in Laravel</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://auxomni.com/" target="_blank"><img src="/images/auxomni.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">Auxomni.com</h5>
            <p class="text-center text-black pb-4">Role: Website Design in Wordpress</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://thepaddleshop.ca/" target="_blank"><img src="/images/paddleshop.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">ThePaddleShop.ca</h5>
            <p class="text-center text-black pb-4">Role: Website Design in Wordpress</p>
            </a>
        </div>
        <hr>
        <div class="col-md-12 text-center text-black">
            <p>And Many More...</p>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>