<% include partials/header.ejs %>
<!-- services  -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/logo-design.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">Logo Design</h5>
        </div>
        <div class="col-md-6">
            <img src="/images/website-design.jpg" class="img-fluid">
            <h5 class="text-center text-black p-4">Website Design</h5>
        </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>